In [2]:
import pandas as pd
df = pd.read_csv('pokemon.csv')

#aggregate fn = reduces a set of values into a single summary values
#              Used to summarize and analyze data
#             often used with the groupby() fn


print(df.sum(numeric_only=True))
print(df.mean(numeric_only=True))

No           11625.0
Height         184.0
Weight        7178.7
Legendary        6.0
dtype: float64
No           76.480263
Height        1.210526
Weight       47.228289
Legendary     0.039474
dtype: float64

In [2]:
print(df.min(numeric_only=True))

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [3]:
print(df.count())

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

In [5]:
#above we studied is for whole df now its for single col
print(df['Height'].mean())

1.2

In [4]:
grp = df.groupby('Type1')
print(grp['Height'].mean())
print(grp['Height'].max())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.511111
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64
Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64

In [5]:
print(grp['Height'].sum())
print(grp['Height'].count())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic     13.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64
Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      9
Rock         9
Water       28
Name: Height, dtype: int64